<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function loadFile(obj) {
            var files = obj.files;
            var formData = new FormData();
            for(var i = 0; i < files.length; i++) {
                files[i];
            }
        }
    </script>
</head>
<body>
    <audio controls>

    </audio>
    <br>
    <for>

    </for>
    <input type="file" id="input_media" onchange="loadFile(this)" multiple>
</body>
</html>