<!DOCTYPE html>
<html>
<head>
    <title>道歉信</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
        hr {
            align-content: center;
        }
        table {
            align-content: center;
        }
    </style>
</head>
<body bgcolor="#fef4d9">
    <hr>道歉信</hr>

    <table border=0 bordercolor="#111111" borderlight=green style="border-collapse: collapse" cellpadding="0" cellspacing="0">
        <tr>
            <td align=center></td>
        </tr>
        <tr>
            <td align=center>
                <a href="" onMouseover="alert('这个背景好烂');
                alert('你喜欢暖色调么？');
                alert('算了，不说废话了，开始道歉吧，这才是正事');
                alert('我错了！');
                alert('请原谅我直白又任性的表达！');
                alert('希望您老人家天天开森！');
                alert('我');
                alert('再');
                alert('说');
                alert('一');
                alert('遍');
                alert('我错了！');
                alert('为了让您老人家开森');
                alert('再点两下吧');
                alert('价钱不超过5块就好，最好是包邮的那种');
                window.location='http://www.taobao.com';
                window.href='http://www.taobao.com';">拜托鼠标放这儿</a>
            </td>
        </tr>
    </table>

</body>
</html>