<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timer</title>
    <script>
        var c=0;
        var t;
        var timer_is_on=0;
        function timeCount() {
            document.getElementById("txt").value=c;
            c=c+1;
            t=setTimeout("timeCount()", 1000);
        }
        function doTimer() {
            if (!timer_is_on) {
                timer_is_on=1;
                timeCount();
            }
        }
        person={firstname:"John",lastname:"Doe",age:50,eyecolor:"blue"}
    </script>
</head>
<body>
    <form>
        <input type="button" value="start count!" onclick="doTimer()">
        <input type="text" id="txt">
    </form>
    <p>Click the button, the textField will count from 1</p>
    <p id="person"></p>
</body>
</html>