<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        var scrollFunc = function (e) {
            var direct = 0;
            e = e || window.event;
        }
    </script>
</head>
<link href="/static/css/csstest.css" rel="stylesheet">
<body>
    <p>welcome page is login......</p>
    <p>This is a test!</p>
    <span>this is a test1</span>
    <br/><br/>
    <span>this is a test2</span>
    <table width="100%">
        <tr>
            <td width="20%" style="" align="" valign="top"></td>
            <td width="80%" style="" align="" valign="top"></td>
        </tr>
    </table>
</body>
</html>